:root {
	--color: #000000;
	--color-secondary: #ffffff;
	--background-color: #3b3b3b;
	--background-color-secondary: #666666;
	--background-light-blue: #13b6f6;
	--btn-success: #5fd300;
	--btn-error: #cf0101;
	--color-info: #19b6ff;
	--box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}
