.country {
	margin: 10px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	height: 60px;
	border-radius: 8px;
	background-color: var(--background-light-blue);
}
