.Layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	header {
		position: sticky;
		top: 0;
		background-color: var(--background-color);
		.title {
			color: red;
		}
	}

	main {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	footer {
		bottom: 0;
		height: 50px;
		background-color: var(--background-color-secondary);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
